
.ContainerAbonnementPage{
    margin-top: 70px;     
    margin-left: 267px;
}

.disposition_cadre{
    display: flex;
    justify-content: center;
}

.cadre{
    width: 300px;
    height: 500px;
    border: double 4px transparent;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px 5px 5px gray;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #6A11CB,#375DF0);
    background-origin: border-box;
    background-clip: content-box, border-box;
    

}


.barre{
    display: flex;
    border: solid 2px;
    border-radius: 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.grandian_barre{
    background-color: linear-gradient(to right,#6A11CB, #375DF0);  
}

.price_bold{
    font-weight: bold;
    font-size: 25px;
    margin: 0px 0px;
}

.style_retune{
    display: flex;
    margin:20px;
}

.retour{
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
}

.arrow_return{
    margin-top: 1px;
    width: 15px;
}

.box_flex{
    display: flex;
}

