.container_TopBarre{
    width: 100%;
}

.topbar_style{
    display: flex;
    padding: 15px;
    z-index: 1;
}

.searchbar_topbar{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid grey;
}

.search_dim_topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.logo_searchbar_topbar{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dim_logo_topbarre{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}