.sidebar_style_main_app{
    width: fit-content;
    border-right: 1px solid #707070;
}
.flex_elementsmainapp{
    display: flex;
}
.fixed_topBarre{
    position: fixed;
    width: 79vw;
}
.fixed_top_relative{
    position: 
    ;
}