.container_TopBarre{
    width: 100%;
    position: fixed;
}
.topbar_style{
    display: flex;
    background-color: white;
}
.searchbar_topbar{
    width: 100%;
}
.search_dim_topbar{
    width: 80%;
}
.logo_searchbar_topbar{
    width: 20%;
}