.container_ContainerApp{
    display: flex;
    margin-left: 266px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.podcastStymeContainer{
    background-image: url(../img/mateo.jpg);
    background-size: cover;
    border: 1px solid #707070;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.titrepodcast_nom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.titrepodcast_containerApp{
    font-size: 15px;
    font-weight: bold;
}
.nom_podcasteur_containerApp{
    font-size: 13px;
}
.disp_flex_titrepodcast_nom{
    display: flex;
}
.titlestyle_modif_txt{
    margin-left: 10px;
    margin-bottom: 5px;
}
.img_positionnement_containerapp{
    margin-left: auto;
}
.style_like_podcast_containerapp{
    cursor: pointer;
    margin-right: 15px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
}
.flex_app_items_podcast{
    display: flex;
}
.style_dollars_podcast_containerapp{
    cursor: pointer;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}
.style_dollars_podcast_containerapp:hover{
    cursor: pointer;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    transform: rotate(360deg);
    transition: 2s;
}